body {
   font-family: 'Open Sans', sans-serif; 
   background-color: #FEE140;
   background-image: linear-gradient(0deg, #FEE140 0%, #FA709A 100%);
   background-attachment: fixed;
 }
 
 html, body {
   height: 100%;
}

.jumbotron {
   background-image: url('https://source.unsplash.com/800x600/?sunrise');
   background-size: cover;
   background-position: 0% 50%;
   height: 300px;
}

.mask {
   background: rgba(0, 0, 0, .3);
}